body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1;
}
/*fonts*/
@font-face {
	font-family: Rocket Script;
	src: url('../fonts/Rocket Script.ttf');
}
/*layout*/
html {
	background-image:url('../images/hole.jpg');
	background-size: auto 1200px;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 20px;
}
/*elements*/
h1 {
	font-family: 'Rocket Script';
	font-size: 5em;
	text-align:center;
	padding: 2em 0 0 0;
	color: #FFFF00;	
}
h4 {
	color: white;
}

#button_holder {
	text-align: center;
	position: relative;
	margin-top: 3em;
	margin-bottom: 0.6em;
}
.btn {
	color: #3E3F38;
	width: auto;
	background-color: #FFFF99;
	border-color: #f15a29; 
	text-shadow: none;
	border-style: none;
	border-radius: 20px;
	padding: 0.5em 0.5em;
	font-size: 2.0em;
	outline: none;
	top: 85%;
	
}
.btn:hover {
	background-color: #52FF00;
	border-color: #cf3d0e;
	cursor: pointer;
	color: black;
}

#submit {
	display: none;

}
#results {
	display: none;
}


#question_wrapper {
	display: inline-block;
	width: 30em;
	height: 10em;
	margin: 0 auto;
	font-family: arial;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: #99FF9D;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-size: 2.5em;
	padding-top: 2em;
	display: none;	
}
#answer_holder {
	font-weight: 200;
	margin: .5em;
	color: #FFFF99;
}
form {
	margin: 15em 0;
}
.dclass {
    clear: both;
	margin: 0 2em;
}
label {
  width: 50em;
}
/* hide input */
input.radio:empty {
	margin-left: -99em;
}
/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.0em;
	text-indent: 2.25em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 1.5em;
	background: #FEFECC;
	border-radius: 3px 0 0 3px;
}
/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .5em;
	color: #52FF00;
}
input.radio:hover:not(:checked) ~ label {
	color: #52FF00;
}
/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .5em;
	color: #FEFECC;
	background-color: #52FF00;
}
input.radio:checked ~ label {
	color: #52FF00;
}
/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 1px #999;
}


#question_score {
	display: inline-block;
}
#fact_holder {
	display: inline-block;
	font-size: 30px;
	text-align:center;
	color: white;
	width: 450px;
	vertical-align:top;
	margin: 0 auto;
	/*margin-left: 30px;*/
	/*margin-top: 70px;*/
}
#question_fact {
	display: none;
}
#final {
	font-size: 30px;
	line-spacing: 35px;
}