body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	line-height: 1;
}
/*fonts*/
@font-face {
	font-family: Rocket Script;
	src: url('../fonts/Rocket Script.ttf');
}
/*layout*/
html {
	background-image:url('../images/hole.jpg');
	background-size: auto 1200px;
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 20px;
}
/*elements*/
h1 {
	font-family: 'Rocket Script';
	font-size: 5em;
	text-align:center;
	padding: 2em 0 0 0;
	color: white;	
}
h4 {
	color: white;
}
#question_wrapper {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	font-family: sans-serif;
	color: white;
	font-size: 2.5em;
	padding-top: 100px;
	display: none;
}

#answer_holder {
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
	line-height: 35px;
}
#button_holder {
	text-align: center;
}
.btn {
	color: white;
	width: auto;
	background-color: #FF9E00;
	border-color: #f15a29; 
	text-shadow: none;
	border-style: none;
	border-radius: 20px;
	padding: 0.25em 0.25em;
	font-size: 2.5em;
	outline: none;
	position: absolute;
	top: 85%;
	
}
.btn:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

#submit {
	display: none;

}
#results {
	display: none;

}
input[type="radio"]:checked + span {
	width: 1.5em;
	height: 1.5em;
	background-color: red;
}
#question_score {
	display: inline-block;
}
#fact_holder {
	display: inline-block;
	font-family: 'SWEETASCANDY';
	font-size: 30px;
	text-align:center;
	color: #360000;
	width: 450px;
	vertical-align:top;
	margin-left: 30px;
	margin-top: 70px;
}
#final {
	font-size: 30px;
	line-spacing: 35px;
}