html, body {
	margin: auto;
	width: 100%;
	background-image:url('../images/hole.jpg');
	background-size: auto 1200px;
	background-repeat: no-repeat;
	background-position: top center;	
}
 @font-face {
        font-family: 'Rocket Script';
        src: 
          url('../fonts/Rocket Script.TTF') format('truetype');
}
h1 {
	font-family: 'Rocket Script';
	font-size: 5.5em;
	text-align: center;
	padding: 1em 0 0 0;
	color: #05FF7E;
}
h4 {
	color: white;
}

/*containers*/
#question_wrapper {
	display: none;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	font-family: 'Courgette', cursive;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: #99FF9D;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.question {
	text-align: center;
	padding-top: 2em;
	font-size: 3em;
}
#answer_holder {
	font-size: 2.5em;
	padding-top: 1em;
	text-align: center;
	letter-spacing: 0;
	line-height: 1.5em;
	font-weight: 100;
	color: #FFFF99;
	width: 100%;
}
#answer_holder form {
	display: inline-block;
	text-align: left;
}
#button_holder {
	margin: auto;
	text-align: center;
}
#fact_holder {
	font-family: 'Courgette', cursive;
	font-size: 2em;
	text-align: center;
	color: white;
	width: 100%;
	vertical-align: top;
	margin: 1em auto;
}
#question_fact {
	display: none;
}
#score_holder {
	text-align: center;
	font-family: 'Courgette', cursive;
	color: #FFFF99;
	width: 100%;
	margin: 10em auto;
}
#questions_score {
	font-size: 3.5em;
}
#score_comments {
	font-size: 4.5em;
	color: rgb(255, 185, 5);
}	
#trophy {
	margin: 3em;
}
#blur_trophy {
	margin: 3em;
}

/*buttons*/

.btn {
	color: #3E3F38;
	background-color: #FFFF99;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 20px;
	padding: 0.25em 0.25em;
	font-size: 1.8em;
	outline: none;
	display: inline;
}
.btn:hover {
	background-color: #FFFEDB;
	border-color: #cf3d0e;
	cursor: pointer;
	color: black;
}
#begin {
	margin-top: 11em;
}
#submit {
	margin-top: 1em;
	display: none;
}
#score {
	margin-top: 1em;
	display: none;
}

/*checkboxes*/
.radio {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 18px;
	border-radius: 8px;
	display: inline-block;
	position: relative;
}
.radio:active, radio:checked:active {
	box-shadow: 1 1px 2px rgba(0,0,0,0.4), inset 0px -1px 3px -2px rgba(0,0,0,0.4);box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.radio:checked {
	background-color: #e9ecec;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0px -15px 10px -12px rgba(0,0,0,0.4), inset 15px 10px -12px rgba(255,255,255,0.4);*/
	color: #99a1a7;
}
.radio:checked:before {
	content: '\2714';
	font-size: 28px;
	position: absolute;
	top: 0px;
	left: 6px;
	/*color: #99a1a7;*/
	color: red;


/*.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}*/


	/* .squaredTwo */
/*.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}*/
/* end .squaredTwo */

}

